<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kingmakers.thetenantartprints.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>WINDFLOWER.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>kingmakers.thetenantartprints.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>kingmake_intscom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GameLibraryContext" Order="1" Enabled="True">
          <Destination Path="Data Source=WINDFLOWER.arvixe.com;Initial Catalog=nopDB;User ID=ahinger;Password=tenstar5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GameLibrary.Models.GameLibraryContext, GameLibrary" MigrationConfiguration="GameLibrary.Migrations.Configuration1, GameLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=WINDFLOWER.arvixe.com;Initial Catalog=nopDB;User ID=ahinger;Password=tenstar5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GameLibrary.Models.ApplicationDbContext, GameLibrary" MigrationConfiguration="GameLibrary.Migrations.Configuration2, GameLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=WINDFLOWER.arvixe.com;Initial Catalog=nopDB;User ID=ahinger;Password=tenstar5</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GameLibraryContext-Web.config Connection String">
      <ParameterValue>Data Source=WINDFLOWER.arvixe.com;Initial Catalog=nopDB;User ID=ahinger;Password=tenstar5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>